# Fixed ruff version avoiding new rules breaking the CI. Can be bumped at any time. New
# ruff findings must be fixed OR the following steps must be applied: (1) add rules to
# temporary ignore filter (pyproject.toml), (2) update threshold ([appxf.dev] in
# pyproject.toml), (3) communicate new rules and potential impact by creating ticket(s)
# or commenting in PR. For mature modules, new issues MUST be fixed (no choice).
ruff==0.15.2